.sans-serif() {
    font-family: 'IBM Plex Sans', sans-serif;
}

.monospace() {
    font-family: 'IBM Plex Mono', monospace;
}

.pure-g [class *="pure-u"],
button,
html,
input,
select,
textarea {
    .sans-serif();
}
@md_and_up: ~"screen and (min-width: 48em)";
@sm_and_up: ~"screen and (min-width: 35.5em)";
@separation: 0.35rem;

body {
    padding: 0;
    box-sizing: content-box;
    @media not @sm_and_up {
        font-size: 0.8rem;
    }

    > div {
        max-width: 48rem;
        margin: auto;

        > div {
            h3 {
                margin: @separation;
                display: block;
                font-weight: normal;
                text-align: center;
            }

            &.song-column > div {
                .monospace();
                font-size: 150%;
                text-align: center;

                > span {
                    background-color: #f0f;
                    padding: 0.5rem;
                    margin-left: 0.5rem;
                    display: inline-block;
                    border-style: solid;
                    border-color: black;
                    border-width: 0 4px;
                }

                &:first-of-type > span {
                    border-top-width: 4px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }

                &:last-of-type > span {
                    border-bottom-width: 4px;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    margin-bottom: @separation;
                }
            }

            &.input-column {
                display: flex;
                flex-flow: row wrap;
                @media @md_and_up {
                    flex-flow: column nowrap;
                }

                div.checkbox-container {
                    background-color: #eee;
                    position: relative;
                    display: inline-block;
                    cursor: pointer;
                    height: 25px;
                    width: 25px;

                    > input {
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        opacity: 0;
                        cursor: inherit;
                        z-index: 1;
                    }

                    > span {
                        height: 15px;
                        width: 15px;
                        left: 5px;
                        top: 5px;
                        position: absolute;
                    }

                    > input:checked ~ span {
                        background-color: black !important;
                    }
                }

                div.input-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    margin: @separation;
                }

                div.view {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: @separation;
                    padding: 0.5rem;
                    background-color: black;
                    color: white;
                    border-radius: 10px;
                }
            }

            &.center-column {
                display: flex;
                align-items: center;
                justify-content: center;

                div {
                    margin: @separation;
                    user-select: none;
                }
            }
        }
    }
}
